@model Product
<div class="row">
    <div class="col-3">
        <ul>
            @foreach (Category item in ViewBag.categories)
            {
                <li><a href="/home/category/@item.CategoryID">@item.CategoryName</a></li>
            }

        </ul>
    </div>
    <div class="col-9">
        <h1>@Model.ProductName</h1>
        @foreach (string img in Model.ImageUrl.Split(','))
        {

            <div>
                <img src="/Photo/@img" alt="@Model.ProductName" />

            </div>

        }
        <p>Price: <b>@Model.UnitOfPrice.ToString("#,###")</b></p>
        <form action="/cart/add" method="post">
            <input type="hidden" name="ProductID" value="@Model.ProductId" />
            <input type="number" name="quantity" value="1" min="1" max="100" />
            <button class="btn btn-primary">Add to Cart</button>
        </form>
        @if (Model.Description != null)
        {
            <p>@Html.Raw(Model.Description)</p>
        }
        <div><b>Thông số kỹ thuật</b></div>
        @if (Model.Specification != null)
        {
            <p>@Html.Raw(Model.Specification.Replace("\n", "<br>"))</p>
        }


        <div>Product Relation</div>
        <div class="row">
            @foreach (Product item in ViewBag.relations)
            {
                <div class="col-6">
                    <h2><a href="/home/detail/@item.ProductId">@item.ProductName</a></h2>
                    <div>
                        <a href="/home/detail/@item.ProductId">
                            <img class="img-fluid" src="/Photo/@item.ImageUrl.Split(',')[0]" alt="@item.ProductName" />
                        </a>
                    </div>
                    <p>Price:<b>@item.UnitOfPrice.ToString("#,###")</b></p>

                </div>
            }
        </div>
    </div>
</div>
